<h1>
<%= @genre.name %>
<small>
  <%= link_to "Edit This Genre", edit_genre_path(@genre.id) %>
  <%= link_to "Delete This Genre", genre_path(@genre.id), :method => :delete %>
</small>
</h1>

<div class="details">
  <p><strong>Description:</strong> <%= @genre.description %></p>

  <p><strong>Books of this genre:</strong></p>

  <ul>
    <% books = Book.where(genre_id: @genre.id) %>
    <% books.each do |book| %>
      <li><%= link_to book.title, "/books/#{book.id}" %></li>
    <% end %>
  </ul>

</div>
