<%= form_for @book do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <p><%= form.label :title %>
  <br>
  <%= form.text_field :title, size: 80, autofocus: true %></p>

  <p><%= form.label :genre_id, "Genre" %>
  <br>
  <%= form.collection_select :genre_id, Genre.all.order('name'), :id, :name %></p>
  <p><%= form.label :year %>
  <br>
  <%= form.text_field :year %></p>

  <%= form.label :image_url,  "Link to poster URL" %>
  <br>
  <%= form.text_field :image_url, size: 80 %>

  <p><%= form.label :description %>
  <br>
  <%= form.text_area :description, rows: 4, cols: 80 %></p>

  <p>
  <%= form.label :author_id, "Add an author" %>
  <br>
  <%= form.collection_select :authors,
        Author.where.not(id: @book.author_ids),
        :id, :name, include_blank: 'Select' %>
  </p>

  <%= form.submit %>
<% end %>
