<aside>
  <h3>Recommended For You</h3>
  <% if session["book_id"].present? and recommended = Book.find_by(id: session["book_id"]) %>
    <%= render recommended %>
  <% else %>
    <%= render Book.sample %>
  <% end %>
</aside>

<%= will_paginate %>
<div class="book-selections">
  <%= render 'book', book: nil %>
    <%= render @books %>
</div>
