<h1>
  <%= @book.title %>
  <small>
    <%= link_to "Edit This Book", edit_book_path(@book.id) %>
    <%= link_to "Delete This Book", book_path(@book.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @book.image_url, class: 'pull-right' %></p>

  <p><strong>Genre: </strong>
    <%= link_to @book.genre.name, "/genres/#{@book.genre.id}" %>
  </p>

  <p><strong>Released:</strong> <%= @book.year %></p>
  <p><strong>Description:</strong> <%= @book.description %></p>


  <p><strong>Author: </strong></p>

  <ul>
    <% @book.authors.each do |author| %>
      <li><%= link_to author.name, "/authors/#{author.id}" %></li>
    <% end %>
  </ul>

  <h3>Add a Review</h3>

  <%= form_tag "/reviews", :method => :post do %>
    <%= label_tag :body, "What did you think?" %>
    <!-- <input type="hidden" name="book_id" value="<%= @book.id %>"> -->
    <%= hidden_field_tag :book_id, @book.id %>

    <br>
    <%= text_area_tag :body, '', rows: 4, cols: 50 %>
    <br>
    <%= submit_tag "Add Review" %>
  <% end %>

  <h3>Reviews</h3>

  <p><strong>Jeff said:</strong>
    A pretty cool book if you like boring nonsense.  The cinematography looked
    like a child made it, and the acting was amatuerish.  Other than, it was
    great!
  </p>

  <p><strong>Borja said:</strong>
    A great example of computer science and society at large!
  </p>

  <p><strong>Neil said:</strong>
    Gravitons, photons, and neutrons, oh my!  Putting aside the obvious problems
    with the scientific basis of the fiction in this book, it wasn't too bad.
  </p>
</div>
