<h1>
  <%= @book.title %>
  <small>
    <%= link_to "Edit This Book", edit_book_path(@book.id) %>
    <%= link_to "Delete This Book", book_path(@book.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @book.image_url, class: 'pull-right' %></p>

  <p><strong>Genre: </strong>
    <% if @book.genre.present?%>
      <%= link_to @book.genre.name, "/genres/#{@book.genre.id}" %>
    <% else %>
      Unknown
    <% end %>
  </p>

  <p><strong>Released:</strong> <%= @book.year %></p>
  <p><strong>Description:</strong> <%= @book.description %></p>


  <p><strong>Authors: </strong></p>

  <ul>
    <% @book.authors.each do |author| %>
      <li><%= link_to author.name, author_path(author) %></li>
    <% end %>
  </ul>

  <br>

  <% if current_user = signed_in_user %>
    <h3>Add a Review</h3>
    <% review = Review.new %>
    <% review.user_id = current_user.id %>
    <% review.book_id = @book.id %>
    <%= render 'reviews/form', review: review %>
  <% else %>
    <h2>Only signed-in users can add reviews.</h2>
  <% end %>

  <br>
  <p><strong>Reviews</strong></p>
  <%= will_paginate @reviews %>
  <% @reviews.each do |review| %>
    <p><strong><%= review.user.name %></strong>
    <p>Rating: <%= review.rating %></p>
    <p>Comment: <%= review.comment %> </p>
    <br>
  <% end %>

</div>
