<%= form_for review do |form| %>

<%= form.hidden_field :book_id, value: review.book_id %>
<%= form.hidden_field :user_id, value: review.user_id %>

  <p>
  <%= form.label :rate, "Rate" %>
  <br>
  <% rate_options = [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]%>
  <%= form.select(:rate, options_for_select(rate_options, 1)) %>
  </p>

  <p>
  <%= form.label :comment %>
  <br>
  <%= form.text_area :comment, rows: 4, cols: 50 %>
  </p>

  <%= form.submit %>
<% end %>
