<%= form_for review do |form| %>

<%= form.hidden_field :book_id, value: review.book_id %>
<%= form.hidden_field :user_id, value: review.user_id %>

  <p>
  <%= form.label :rating, "Rating" %>
  <br>
  <% rating_options = [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]%>
  <%= form.select(:rating, options_for_select(rating_options, 1)) %>
  </p>

  <p>
  <%= form.label :comment %>
  <br>
  <%= form.text_area :comment, rows: 4, cols: 50 %>
  </p>

  <%= form.submit %>
<% end %>
